<div class="layui-side layui-bg-black" th:fragment="side">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a class="" href="./index.html">项目概览</a>
            </li>
            <li class="layui-nav-item">
                <a class="" href="./scanner.html">扫描页面</a>
            </li>
            <li class="layui-nav-item">
                <a href="project.html">查看项目</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">坏代码文件</a>
            </li>
        </ul>
    </div>
</div>